.todo__heading {
  font-size: 4rem;
  text-align: center;
}
.todo__container {
  align-self: flex-start;
  width: 45rem;

  background-color: #fbb224;
  border-radius: 0.5rem;

  font-size: 1.6rem;
  padding: 1rem;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 1rem;
  justify-items: stretch;

  justify-content: center;
  text-align: center;
}
.todo__form {
  flex: 0 0 100%;
}
.todo__input {
  border: none;
  width: 35rem;
  height: 4rem;
  padding: 1rem 1.5rem;

  font-family: inherit;
}
.todo__filter {
}
.todo__list {
  width: 35rem;
}
.list__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ce931e;
  margin: 1rem 0;
  padding: 1rem 1rem;

  font-weight: 600;
}
.item--completed {
  text-decoration: line-through;
}

button {
  border: none;
  padding: 1rem 2rem;
  margin: 0.5rem;
  font-family: inherit;
  font-weight: 600;
}

.item__clear-button {
  margin-left: auto;
  background-color: orangered;
}
